/*基本樣式*/

*, *::before, *::after {
	box-sizing: border-box;
}

img {
	vertical-align: middle;
	max-width: 100%;
	height: auto;
	transition: opacity 0.3s ease;
}

body {
	font-family: "Noto Sans TC", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.05em;
	color: $neutral-900;
	list-style: none;
	overflow-x: hidden;
}

a {
	display: block;
	text-decoration: none;
	color: $neutral-900;
	font-weight: 500;
}