<footer class="container py-64 bg-neutral-100 py-sm-32">
    <div class="d-flex jcsb aic mb-24 d-sm-block">
        <a href="index.html"><img src="/assets/images/logo.svg" alt="logo" class="mb-sm-8"></a>            
        <ul class="link d-flex d-sm-block px-sm-12">
            <li><a href="products.html" class="mr-40 mr-sm-0 py-sm-12">商品列表</a></li>
            <li><a href="story.html" class="py-sm-12">品牌故事</a></li>
        </ul>
    </div>
    <div class="copyright">
        <p>Copyright ©2025 URBNSTYLE</p>
        <p>All Rights Reserved.</p>
    </div>
</footer>